.digito {
    margin-right:15px;
    width: 40px;
}

.separator {
    margin-top:10px;
    padding: auto;
    align-items:center;
    top: 20px;
    width:2px;
}

input[type="text"]{
    font-size: 22px
}

#text {
    margin-top:20px
}